@use "sass:map";
@import "style/pages/all";

.container-categories-slider {
    max-width: 1200px !important;
    margin-top: 30px !important;

    .categories-slider {
        .categories-slider-item {
            height: 300px;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            border-radius: 5px;

            p {
                position: absolute;
                left: 50%;
                bottom: 20px;
                font-size: 18px;
                color:map.get($theme-colors, "normal-text");
                font-weight: 700;
                text-transform: 2px;
                padding: 12px 0 10px;
                width: 270px;
                cursor: pointer;

            }

            /* &:hover {
                background: rgb(237 237 237);
            } */
        }

        .react-multi-carousel-item:not(:first-child):not(:last-child) {
            margin-right: 5px;
            margin-left: 5px;
        }
    }
}

.pdf-custom {
    display: flex;
    text-align: center;
    background-position: top center;
    width: 1000px;
    height: 1000px;
    margin-left: 25%;
}


.hero-categories{
    position: relative;
    

    .hero-categories-all {
    background: map.get($theme-colors, "main");
    padding: 15px 25px 15px 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    color: white;

    svg,
    span {
        font-size: 16px;
        margin-right: 5px;
    }

    svg {
        font-size:20px;
        font-weight: bold;
    }
}
    ul {
        border: 1px solid #ebebeb;
        opacity: 1;
        position: absolute;
        width: 99%;
        background: #ffffff;
        transition: all 0.2;

        li{
            list-style: none;

            a {
                text-decoration: none;
                background-color: transparent;
                font-size: 16px;
                color: map.get($theme-colors, "normal-text");
                line-height: 39px;
                display:block;
                padding-left: 10px;
            }

            a:hover {
                background: #f7ffff;

                a {
                    color:map.get($theme-colors, "main");

                }
            }
        }

        &.hidden {
            opacity: 0;
        }

    }

}