@use "sass:map";
@import "style/pages/theme";


.header-top {
    background: rgba(85, 107, 47, 0.5);
}

.header-top-right{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 0 6px;

    ul {
        display: flex;
        column-gap: 10px;
        list-style: none;
            span {
                margin-left: 2px;
                color: map.get($theme-colors, "normal-text");
            }

            a {
                font-size: 14px;
                display: inline-block;
                color: map.get($theme-colors, "normal-text");
            }
            li:last-child{
                cursor: pointer;
                margin-left: 10px;
            }
    }
}

.header-logo {
    padding: 15px 0;
}

.header-menu {
    padding: 24px 0;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            list-style: none;
            position: relative;
             
            a {
                text-decoration: none;
                font-size: 14px;
                color: map.get($theme-colors, "bold-text");
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
                transition: all 0.3s;
                padding: 5px 0;
                display:block;
            }
        }

        li:hover .header-menu-drogdown {
            opacity: 1;
            visibility: visible;
        }

        .active a{
            color: map.get($theme-colors, "main");
       
        }

    .header-menu-drogdown {
        background: #222222;
        display: block;
        position: absolute;
        width: 180px;
        x-index: 9;
        padding: 5px 0;
        transition: all, 0.3s;
        opacity: 0;
        visibility: hidden;

        li {
            a {
                text-transform: capitalize;
                color: #ffff;
                font-weight: 400;
                padding: 5px 15px;
            }

            :hover {
                color: map.get($theme-colors, "main");
            }
        }
    }
    }

}


.header-top-left{

    ul{

        display: flex;
        align-items: center;
        column-gap: 10px;
        list-style: none;
    }

}

